In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [47]:
houseDF = pd.read_csv('USA_Housing.csv')
houseDF = houseDF.drop(columns="Address")
houseDF.head()
# houseDF['Avg. Area Income']=(houseDF['Avg. Area Income']-houseDF['Avg. Area Income'].mean())/houseDF['Avg. Area Income'].std()
for col in houseDF:
    houseDF[col]=(houseDF[col]-houseDF[col].mean())/houseDF[col].std()
houseDF

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,1.028557,-0.296897,0.021272,0.088053,-1.317467,-0.490032
1,1.000708,0.025899,-0.255481,-0.722229,0.403959,0.775431
2,-0.684561,-0.112292,1.516092,0.930747,0.072403,-0.490162
3,-0.491450,1.221450,-1.392938,-0.584481,-0.186716,0.080835
4,-0.806992,-0.944739,0.846657,0.201493,-0.988289,-1.702348
...,...,...,...,...,...,...
4995,-0.752033,1.869110,-0.845504,-0.422425,-1.342598,-0.486747
4996,0.929647,1.030719,-0.408645,0.031334,-1.062641,0.709523
4997,-0.487186,1.284342,-2.170052,-1.500101,-0.291907,-0.570187
4998,-0.054586,-0.446650,0.141526,1.181935,0.651051,-0.094631
4999,-0.288284,0.015213,-0.194322,0.071848,1.041520,0.189392

In [48]:
X=houseDF.iloc[0:,0:5]
X[5]=1
X=np.array(X)
y=np.array(houseDF.iloc[0:,5:])
y

array([[-0.49003245],
       [ 0.77543074],
       [-0.4901615 ],
       ...,
       [-0.57018697],
       [-0.09463074],
       [ 0.18939249]])

In [49]:
def cost(data,params):
    total_cost=0
    for i in range(5000):
        total_cost+=(1/5000)*((data[i]*params).sum()-y[i])**2
    return total_cost
#GD
def gd(data,params,alpha,iteration):
    for i in range(iteration):
        slopes=np.zeros(6)
        for j in range(5000):
            for k in range(6):
                slopes[k]+=(1/5000)*((data[j]*params).sum()-y[j])*data[j][k]
        params=params-(alpha*slopes)
        print(cost(data,params))
        return params

In [52]:
params=np.zeros(6)
lrate=0.01
iterval=1000
params=gd(X,params,lrate,iterval)
print(params)

[0.98144463]
[6.39605832e-03 4.52452029e-03 3.35597320e-03 1.71036813e-03
 4.08474168e-03 1.50397137e-17]

In [54]:
print(cost(X,params))

[0.98144463]